{
    "tabWidth": 1,
    "useTabs": false,
    "singleAttributePerLine": false,
    "editorconfig": true,
    "htmlWhitespaceSensitivity": "strict",
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "parser": "typescript",
    "printWidth": 80,
    "proseWrap": "always"
  }